<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="site-header">
    <div class="container nav">
        <h2><a th:href="@{/}">CLB Chia sẻ Yêu Thương</a></h2>
        <ul>
            <li><a th:href="@{/}">Trang chủ</a></li>
            <li><a th:href="@{/events}">Sự kiện</a></li>
            <li><a th:href="@{/about}">Giới thiệu</a></li>
            <li><a th:href="@{/contact}">Liên hệ</a></li>
        </ul>
    </div>
</header>
</body>
</html>